@{
    ViewData["Title"] = "Index";
}

<a href= '@Url.Action("SelectIndumentaria")'> Agregar indumentaria</a> 
<br><br>

<table style="width 100%">
    <tr>
        <th style="width 25%">Equipos</th>
        <th style="width 25%">Camisetas</th>
        <th style="width 25%">Medias</th>
        <th style="width 25%">Pantalon</th>
    </tr>
    @foreach (string equipo in ViewBag.DicIndumentaria.Keys)
    {
        <tr>
            <td> @equipo </td>
            <td> <img src='/img/Camisetas/@ViewBag.DicIndumentaria[equipo].Camiseta' style="width 210" height="210"></td>
            <td> <img src='/img/Medias/@ViewBag.DicIndumentaria[equipo].Medias' style="width 180" height="180"></td>
            <td> <img src='/img/Pantalones/@ViewBag.DicIndumentaria[equipo].Pantalon' style="width 180" height="180"></td>
            
        </tr>
    }

<h1>Pagina Web Piva-Bottarini</h1>